<!-- Navigation -->
<nav class="animation-nav">
  <div class='animation-container animation-div'>
    <object type='image/svg+xml' data='https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/sole-logo.svg'></object>
    <div class="animation-div">
      <span class='animation-menu-button'>Menu</span>
      <span class='animation-login-button'>Login</span>
    </div>
  </div>
</nav>

<!-- Nav Menu -->
<div class='animation-nav-menu animation-hide animation-div'>
  <div class='animation-container animation-div'>
    <ul class="animation-ul">
      <li class="animation-li">Shoes</li>
      <li class="animation-li">Women's Shoes</li>
      <li class="animation-li">Men's Shoes</li>
      <li class="animation-li">Shoe Accessories</li>
      <li class="animation-li">Wholesale</li>
    </ul>
    <ul class="animation-ul">
      <li class="animation-li">Contact</li>
      <li class="animation-li">Twitter</li>
      <li class="animation-li">Facebook</li>
      <li class="animation-li">Instagram</li>
      <li class="animation-li">Email</li>
    </ul>
  </div>
</div>

<!-- Login Form -->
<div class='animation-login-form animation-div'>
  <div class='animation-container animation-div'>
    <form class="animation-form">
      <h4 class="animation-h4">Username</h4>
      <input class='animation-username' />
      <h4 class="animation-h4">Password</h4>
      <input type='password' />
      <input class='animation-sign-in-button' type='submit' value='Sign In' />
    </form>
  </div>
</div>

<!-- Product Cards -->
<div class='animation-container animation-div'>
  <div class='animation-product-card animation-div'>
    <div class='animation-product-photo animation-sole-air-ii animation-div'></div>
    <div class='animation-product-details animation-div'>
      <h4 class="animation-h4">Sole Air II</h4>
      <div class="animation-div">
        <p class="animation-p">$35</p>
        <div class='animation-more-details-button animation-div'>
          <img src='https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/right-arrow.svg' />
        </div>
      </div>
    </div>

    <div class='animation-shoe-details animation-div'>
      <p class="animation-p">The ultimate in style and comfort, the Sole Air II's are great for walking and casual wearing.</p>
      <div class='animation-size-chart animation-div'>
        <h4 class="animation-h4">Size</h4>
        <ul class='animation-sizes'>
          <li class="animation-li">8</li>
          <li class="animation-li">9</li>
          <li class="animation-li">10</li>
          <li class="animation-li">11</li>
          <li class="animation-li">12</li>
        </ul>
      </div>
      <div class='animation-buy-now-button animation-disabled animation-div'>
        <h3 class="animation-h3">Add to cart</h3>
      </div>
    </div>
  </div>
</div>

<div class='animation-container animation-div'>
  <div class='animation-product-card animation-div'>
    <div class='animation-product-photo tidal-x animation-div'></div>
    <div class='animation-product-details animation-div'>
      <h4 class="animation-h4">Tidal X</h4>
      <div class="animation-div">
        <p class="animation-p">$40</p>
        <div class='animation-more-details-button animation-div'>
          <img class="animation-img" src='https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/right-arrow.svg' />
        </div>
      </div>
    </div>

    <div class='animation-shoe-details animation-div'>
      <p class="animation-p">The Tidal X's signature rubber midsole make this the perfect running shoe. With a soft mesh upper, and synthetic polymer outsole, these shoes really fly.</p>
      <div class='animation-size-chart animation-div'>
        <h4 class="animation-h4">Size</h4>
        <ul class='animation-sizes'>
          <li class="animation-li">6</li>
          <li class="animation-li">7</li>
          <li class="animation-li">10</li>
          <li class="animation-li">12</li>
          <li class="animation-li">13</li>
        </ul>
      </div>
      <div class='animation-buy-now-button animation-disabled animation-div'>
        <h3 class="animation-h3">Add to cart</h3>
      </div>
    </div>

  </div>
</div>

<div class='animation-container animation-div'>
  <div class='animation-product-card animation-div'>
    <div class='animation-product-photo animation-dark-sole-original animation-div'></div>
    <div class='animation-product-details animation-div'>
      <h4 class="animation-h4">Dark Sole Original</h4>
      <div class="animation-div">
        <p class="animation-p">$60</p>
        <div class='animation-more-details-button animation-div'>
          <img class="animation-img" src='https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/right-arrow.svg' />
        </div>
      </div>
    </div>

    <div class='animation-shoe-details animation-div'>
      <p class="animation-p">Light up the night with the Dark Sole Original. Lights around the midsole activate when stomped.</p>
      <div class='animation-size-chart animation-div'>
        <h4 class="animation-h4">Size</h4>
        <ul class='animation-sizes'>
          <li class="animation-li">9</li>
          <li class="animation-li">10</li>
          <li class="animation-li">10.5</li>
          <li class="animation-li">11</li>
        </ul>
      </div>
      <div class='animation-buy-now-button animation-disabled animation-div'>
        <h3 class="animation-h3">Add to cart</h3>
      </div>
    </div>
  </div>
</div>

<!-- Shopping cart -->
<div class='animation-shopping-cart animation-div'>
  <div class='animation-container animation-div'>
    <div class='animation-cart animation-div'>
      <object class="animation-object" type='image/svg+xml' data='https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/shopping-cart.svg'></object>
      <h3 class='animation-items-qty animation-h3'>1</h3>
    </div>
    <h3 class="animation-h3">Checkout</h3>
  </div>
</div>

<footer class="animation-footer">
  <div class='animation-container animation-div'>
    <object class="animation-object" type='image/svg+xml' data='https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/sole-logo.svg'></object>
    <div class="animation-div">Contact Us</div>
  </div>
</footer>

<script type="text/javascript">

  $(document).ready(() => {

    $('.animation-login-button').on('click', () => {
      $('.animation-login-form').toggle();
    });

    $('.animation-menu-button').on('mouseenter', () => {
      $('.animation-nav-menu').show();
      $('.animation-menu-button').addClass('animation-button-active');
      $('.animation-nav-menu').removeClass('animation-hide');

      $('.animation-menu-button').animate({
        fontSize: '24px'
      }, 200)
    })

    $('.animation-nav-menu').on('mouseleave', () => {
      $('.animation-menu-button').removeClass('animation-button-active')

      $('.animation-menu-button').animate({
        fontSize: '18px'
      }, 200)
    })

  });

</script>
