.intro-container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Header */
.intro-header {
  padding: 45px 0;
  background-color: #0074ff;
}

.intro-header .intro-ul {
  list-style: none;
  padding: 0;
}

.intro-header .intro-li {
  display: inline;
  line-height: 30px;
}

.intro-header .intro-li + .intro-li {
  margin-left: 30px;
}

.intro-header .intro-h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.intro-header .intro-h3 {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

.intro-header .intro-dropdown {
  position: relative;
}

.intro-header .intro-dropdown-menu {
  position: absolute;
  top: 20px;
  border-radius: 0;
}

.intro-header .intro-dropdown-menu .intro-li {
  display: block;
  margin: 0;
  padding: 3px 10px;
}

/* Main */
.intro-main {
  background: url('https://s3.amazonaws.com/codecademy-content/projects/2/madison-square-market/s1.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

/* Footer */
.intro-footer {
  background-color: #0074ff;
  padding: 20px 0;
  height: 200px;
}


@media (max-width: 1024px) {
  .intro-header .intro-h1 {
    width: 100%;
    text-align: center;
  }

  .intro-pull-right {
    float: none !important;
    margin: 20px auto 0;
    width: 225px;
  }
}
