.photo-body {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
  color: #303030;
}

.photo-container {
  max-width: 450px;
  margin: 0 auto;
}

.photo-h3 {
  color: #C3FF00;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.photo-h4 {
  text-transform: uppercase;
}

.photo-disabled .photo-h3 {
  color: #535353;
  cursor: not-allowed;
}

.photo-button-active {
  color: #C3FF00;
  background-color: #535353;
}

.photo-nav {
  background-color: #303030;
  color: #EFEFEF;
}

.photo-nav .photo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-nav .photo-container .photo-object {
  width: 4.5em;
  padding: 1.2em 0.5em;
}

.photo-nav .photo-container .photo-login-button,
.photo-nav .photo-container .photo-menu-button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1em 1.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.photo-nav-menu {
  background-color: #535353;
  color: #EFEFEF;
  display: flex;
  justify-content: center;
}

.photo-nav-menu .photo-container {
  padding: 1.5em;
  display: flex;
}

.photo-nav-menu .photo-container .photo-ul {
  list-style: none;
}

.photo-nav-menu .photo-container .photo-ul .photo-li {
  padding: 0.25em 2em;
}

.photo-nav-menu .photo-container .photo-ul .photo-li:first-child {
  text-transform: uppercase;
  color: #C3FF00;
  letter-spacing: 0.05em;
}

.photo-hide {
  display: none;
}

.photo-login-form {
  background-color: #535353;
  padding: 1em 0 0;
  color: #EFEFEF;
  display: none;
}

.photo-login-form .photo-container {
  padding: 0 0.5em;
}

.photo-login-form .photo-h4 {
  font-weight: 400;
}

.photo-login-form .photo-input {
  width: calc(100% - 1em);
  border: none;
  height: 2em;
  margin: 0.5em 0;
  font-size: 1em;
  padding: 0 0.5em;
}

.photo-login-form .photo-sign-in-button {
  background-color: #303030;
  color: #C3FF00;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
  height: 2.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.photo-product-card {
  margin: 1em 0;
}

.photo-product-card .photo-dark-sole-original,
.photo-product-card .photo-sole-air-ii,
.photo-product-card .photo-tidal-x {
  background-size: 28em 15em;
  background-position: center;
  height: 14em;
  transition: 0.2s;
}

.photo-product-card .photo-sole-air-ii {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/sole-air-ii.png");
}

.photo-product-card .photo-tidal-x {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/tidal-x.png");
}

.photo-product-card .photo-dark-sole-original {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/jquery/audit/images/dark-sole-original.png");
}

.photo-product-card .photo-photo-active {
  background-size: 30.8em 16.5em;
  transition: 0.2s;
}

.photo-product-card .photo-product-details {
  margin-top: -5px;
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
}

.photo-product-card .photo-product-details .photo-h4,
.photo-product-card .photo-product-details .photo-p {
  padding: 0.7em 1.25em;
}

.photo-product-card .photo-product-details .photo-div {
  display: flex;
}

.photo-product-card .photo-product-details .photo-more-details-button {
  background-color: #535353;
  padding: 0.75em 1.25em;
  cursor: pointer;
  width: 1em;
  transition: 0.1s;
}

.photo-product-card .photo-product-details .photo-more-details-button .photo-img {
  position: relative;
  left: 0.1em;
}

.photo-product-card .photo-product-details .photo-more-details-button .photo-rotate {
  transition: 0.1s;
  transform: rotate(90deg);
}

.photo-product-card .photo-shoe-details {
  display: none;
  background-color: #535353;
  color: #EFEFEF;
}

.photo-product-card .photo-shoe-details .photo-active {
  background-color: #C3FF00;
  color: #303030;
}

.photo-product-card .photo-size-chart,
.photo-product-card .photo-p {
  padding: 1em 1.25em;
}

.photo-product-card .photo-size-chart .photo-ul,
.photo-product-card .photo-p .photo-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.photo-product-card .photo-size-chart .photo-ul .photo-li,
.photo-product-card .photo-p .photo-ul .photo-li {
  padding: 0.5em;
  background-color: #303030;
  width: 100%;
  text-align: center;
  margin-right: 2px;
}

.photo-product-card .photo-buy-now-button {
  background-color: #303030;
  text-align: center;
  padding: 0.75em;
  cursor: pointer;
}

.photo-shopping-cart {
  background-color: #171717;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
  display: none;
  height: 3.5em;
}

.photo-shopping-cart .photo-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.photo-shopping-cart .photo-container .photo-cart {
  display: flex;
}

.photo-shopping-cart .photo-container .photo-cart .photo-object {
  margin-right: 0.75em;
}

.photo-footer {
  color: #EFEFEF;
  background-color: #303030;
  margin-top: 2em;
  padding: 2em 0.5em;
}

.photo-footer .photo-container {
  display: flex;
  justify-content: space-between;
}

.photo-footer .photo-container .photo-object {
  width: 4.5em;
}
